# Flutter
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.dart_tool/
.pub-cache/

# Build output
build/

# Dependency files
*.lock

# Other
.DS_Store
.env
.env.example
.gitattributes
.gitignore
.gitmodules
.history

# Test files
*.dart.snapshot

# IntelliJ
*.iml
*.ipr
*.iws

# Android Studio
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/
