<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076208018232-mpf31op0lvchpb58ft06tr0u276d33fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076208018232-mpf31op0lvchpb58ft06tr0u276d33fu</string>
	<key>API_KEY</key>
	<string>AIzaSyCGfmkai8tharYswl6d_Te2axUcOmOPygA</string>
	<key>GCM_SENDER_ID</key>
	<string>1076208018232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitbodyFlutter</string>
	<key>PROJECT_ID</key>
	<string>autbody</string>
	<key>STORAGE_BUCKET</key>
	<string>autbody.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076208018232:ios:be5603c9f7e7a3c62597cd</string>
</dict>
</plist>